* {
    margin: 0;
}
html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    text-decoration:none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -112px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 112px; /* .push must be the same height as .footer */
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

ul {
  list-style-type: none;
}

table {
    border-collapse: collapse;
}

table, th, td {
}

th, td {
    padding: 4px 10px;
    text-align: left;
}

.numbers {
    text-align: right !important;
    /*color:#96858F;*/
}

tr:nth-child(even) {
    background-color: #f7f7f7;
}

tr:hover {
    background-color: #96858F;
    color:#E7DFDD !important;
    cursor:pointer;
}

/* ================================== */
/* COLOR SCHEME 2 - Muted and Minimal */
/* ================================== */

/*color-scheme 2 - Muted and Minimal: 
    - Dusty: #96858F
    - Lavendar: #6D7993
    - Overcast: #909942
        - #E6DFFF
    - Paper: #D5D5D5
*/

.dusty-bg {
    background-color:#96858F;
    color:#E7DFDD;
}

.lavendar-bg {
    background-color:#6D7993;
    color:#E7DFDD;
}

.overcast-bg {
    background-color:#909942;
    color:#E7DFDD;
}

.paper-bg {
    background-color:#D5D5D5;
    color:#0E0B16;
}

.white2-bg {
    background-color:#ffffff;
    color:#0E0B16;

}

.paperMenuItem-bg {
    background-color:#D5D5D5;
    color:#0E0B16;
}

.paperMenuItem-bg:hover {
    background-color:#c7c7c7;
    color:#0E0B16;
}

.paperMenuItem-bg:active {
    background-color:#ffffff;
    color:#0E0B16;
}
/* ================================== */

/* ============================================== */
/* COLOR SCHEME 1 - Neon tones and stark contrast */
/* ============================================== */

/* Color-scheme 1 - Neon tones and stark contrast: 
    - Void: #0E0B16
    - Fuschia: #A239CA
    - Jewel: #4717F6
        - #E6DFFF
    - Stark: #E7DFDD
*/
.white-bg {
    background-color:#ffffff;
    color:#0E0B16;

}

/*.whiteMenuItem-bg {
    background-color:#ffffff;
    color:#0E0B16;
}

.whiteMenuItem-bg:hover {
    background-color:#E7DFDD;
    color:#0E0B16;
}

.whiteMenuItem-bg:active {
    background-color:#d2cbc9;
    color:#0E0B16;
}*/

.void-bg {
    background-color:#0E0B16;
    color:#E7DFDD;
}

.fuschia-bg {
    background-color:#A239CA;
    color:#E7DFDD;
}

.jewel-bg {
    background-color:#4717F6;
    color:#E7DFDD;
}

.stark-bg {
    background-color:#E7DFDD;
    color:#808080;
}

/*color-scheme: 
    - Void: #0E0B16
    - Fuschia: #A239CA
    - Jewel: #4717F6
        - #E6DFFF
    - Stark: #E7DFDD
*/

.paddingLeft-5 {
    padding-left:5px;
}

.paddingLeft-15 {
    padding-left:15px;
}

.mainStockTable {
    font-size:11px;
}

.mainStockTable .paper-bg {
    background:#ffffff;
    border-top:1px solid #D5D5D5;
    border-bottom:1px solid #D5D5D5;
}

.border-right {
    border-right:1px dotted #96858F !important;
}

.extraSmallInput {
    width:5vw !important;
}

.smallInput {
    width:7em !important;
}

.largeInput {
    width:15em !important;
}

.width-12vh {
    width:12vh !important;
}

.btn-sm {
    padding: 1px 5px;
    margin-right: 3px;
    font-size: 12px;
    line-height: 1.4;
    border-radius: 3px;
}

.btn {
    padding: 1px;
}

.chartsTab {
    background-color:#e9e9e9 !important;
}

.chartsTab:hover {
    background-color:deepskyblue !important;
}