@{
    ViewBag.Title = "Financial Syntax";
}
<h2>@ViewBag.Title.</h2>
<p>@ViewBag.Message</p>

<ul>
    <li><a href="http://www.aktieskolan.se/pages/aktielista.php?select=aktieskola">Aktieskolan</a></li>
    <li><a href="https://borsdata.se/2e-group/nyckeltal">Börsdata nyckeltal exempel</a></li>
    <li><a href="https://api.test.nordnet.se/">nEXT API (Nordnet)</a></li>
    <li><a href="https://api.test.nordnet.se/api-docs/index.html">nEXT API documentation</a></li>
    <li><a href="http://www.4-traders.com/">4-traders</a></li>
    <li><a href="https://github.com/fhqvst/avanza/wiki/Get-Started">Unofficial Avanza API (from GitHub)</a></li>
    <li><a href="https://github.com/fhqvst/avanza/tree/92f2b3a86aa0ce3072ccd44c0db1675cbdca6f15">Avanza API documentation</a></li>
    <li><a href="https://www.npmjs.com/package/avanza">Unofficial Avanza API(from NPMJS)</a></li>
    <li><a href="https://www.avanza.se/vart-utbud/traderprogram/infront.html">Avanza Infront / SIX Edge API</a></li>
    <li><a href="http://www.marketwatch.com/">MarketWatch</a></li>
    <li><a href="http://www.investopedia.com/articles/pf/05/061505.asp">Investopedia</a></li>
    <li><a href="https://www.avanza.se/aktier/om-aktien.html/663399/bonava-b">Avanza</a></li>
</ul>