@{
    ViewBag.Title = "Great links";
}
<h2>@ViewBag.Title.</h2>
<p>@ViewBag.Message</p>


<h3>Programming</h3>
<ul>
    <li><a href="http://www.w3schools.com/">w3schools.com</a></li>
    <li><a href="http://www.mikesdotnetting.com/article/273/using-the-htmlagilitypack-to-parse-html-in-asp-net">HTML-parsing</a></li>
    <li><a href="https://designschool.canva.com/blog/website-color-schemes/">Website color schemes</a></li>
    <li><a href="http://stackoverflow.com/questions/21991223/convert-object-of-any-type-to-jobject-with-json-net">C# Objects to JObjects (Dynamic)</a></li>
    <li><a href="http://stackoverflow.com/questions/33088297/serialize-an-object-directly-to-a-jobject-instead-of-to-a-string-in-json-net">C# Objects to JObjects</a></li>
</ul>

<h3>Finance</h3>
<ul>
    <li><a href="https://borsdata.se/2e-group/nyckeltal">Börsdata nyckeltal exempel</a></li>
</ul>

<i>More information will be added here.</i>
