@{
    ViewBag.Title = "Great links";
}
<h2>@ViewBag.Title.</h2>
<p>@ViewBag.Message</p>


<h3>Programming</h3>
<ul>
    <li><a href="http://www.w3schools.com/">w3schools.com</a></li>
    <li><a href="http://www.mikesdotnetting.com/article/273/using-the-htmlagilitypack-to-parse-html-in-asp-net">HTML-parsing</a></li>
    <li><a href="https://designschool.canva.com/blog/website-color-schemes/">Website color schemes</a></li>
</ul>

<h3>Finance</h3>
<ul>
    <li><a href="https://borsdata.se/2e-group/nyckeltal">Börsdata nyckeltal exempel</a></li>
</ul>

<i>More information will be added here.</i>
