@{
    ViewBag.Title = "Great links";
}
<h2>@ViewBag.Title.</h2>
<p>@ViewBag.Message</p>

<ul>
    <li class="paper-bg"><a href="www.borsdata.se">börsdata.se</a></li>
</ul>

<i>More information will be added here.</i>
