@{
    ViewBag.Title = "Great links";
}
<h2>@ViewBag.Title.</h2>
<p>@ViewBag.Message</p>


<h3>Programming</h3>
<ul>
    <li><a href="http://www.w3schools.com/">w3schools.com</a></li>
    <li><a href="http://www.mikesdotnetting.com/article/273/using-the-htmlagilitypack-to-parse-html-in-asp-net">HTML-parsing</a></li>
    <li><a href="https://designschool.canva.com/blog/website-color-schemes/">Website color schemes</a></li>
    <li><a href="http://stackoverflow.com/questions/21991223/convert-object-of-any-type-to-jobject-with-json-net">C# Objects to JObjects (Dynamic)</a></li>
    <li><a href="http://stackoverflow.com/questions/33088297/serialize-an-object-directly-to-a-jobject-instead-of-to-a-string-in-json-net">C# Objects to JObjects</a></li>
    <li><a href="http://www.programmableweb.com/news/96-stocks-apis-bloomberg-nasdaq-and-etrade/2013/05/22">Programmable Web: 96 best StockAPIs</a></li>
    <li><a href="http://www.nasdaqomxnordic.com/shares/listed-companies/stockholm">OMX full list of stocks on large, mid and small cap --> Parse Symbol, Sector, Currency</a></li>
    <li><a href="http://www.jarloo.com/get-yahoo-finance-api-data-via-yql/">Jarloo --> C# tool för att hämta data från Yahoo Finance via YQL</a></li>
    <li><a href="http://wern-ancheta.com/blog/2015/04/05/getting-started-with-the-yahoo-finance-api/">Getting started with Yahoo Finance API (Best link!)</a></li>
    <li><a href="https://scotch.io/tutorials/sort-and-filter-a-table-using-angular">Sort and filter with angular</a></li>
</ul>

<h3>Finance</h3>
<ul>
    <li><a href="https://borsdata.se/2e-group/nyckeltal">Börsdata nyckeltal exempel</a></li>
</ul>

<i>More information will be added here.</i>
