@{
    ViewBag.Title = "Master plan";
}
<h2>@ViewBag.Title.</h2>
<p>@ViewBag.Message</p>

<img style="max-width:inherit; max-height:inherit" src="~/Root/Images/Sida, Master plan.jpg" />

<h3>Portföljteori (Riskspridning)</h3>
<h3>Stockpicking (Värdering)</h3>
<p>Skip at the beginning.</p>
<h4>Screening</h4>
<p>Look at tooling for screening.</p>
<h4>Valuation</h4>
<h4>Decision</h4>
