@model AutoStockBroker.Models.StockPortfolio

@{
    ViewBag.Title = "Prototype page";
}

<div ng-controller="PrototypeController">
    <div id="CheckedList">
        <div class="container row" style="width:100%">
            <div class="col-sm-12">
                <br />
                <div class="col-sm-6" style="float:left">
                    <h2>My Stock Portfolio</h2>
                    <i>Currently invested in {{getMyStocksCount()}} out of {{getTotalStocksCount()}} companies</i>
                    <br />


                    <form id="jsonFile" name="jsonFile" enctype="multipart/form-data" method="post">
                        <fieldset>
                            <h3>Upload Portfolio</h3>
                            <input class="panel-info" type='file' id='fileinput'>
                            <br />
                            <input class="btn-sm btn-info" type="button" id="btnLoad" value="DoubleClick to Load" ng-click="addFile();">
                        </fieldset>
                    </form>
                    <br />
                    <div class="alert alert-info">
                        <p>
                            Displaying {{filteredMyStocks.length}} of {{getMyStocksCount()}} portfolio stocks. When you are finished, save your portfolio as a json and upload it when you want to continue later.
                        </p>
                    </div>
                </div>
                @*<div class="col-sm-3">
                    <canvas id="myStocksPie" width="400" height="400"></canvas>
                </div>*@
                <div class="col-sm-6">
                    <canvas id="pie" class="chart chart-pie"
                            chart-data="pieData" chart-labels="pieLabels" chart-options="options"></canvas>
                </div>
                <hr />
            </div>
        </div>
        @*<form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search for stock" ng-model="search.$">
                    </div>
                </div>
            </form>*@

        <a id="saveToMyStocks" ng-show="myStocksSaved" class="text-info">Right-click this link and click 'save as...'</a>
        <br />
        <table class="mainStockTable" id="searchTextResults">
            <theader>
                <tr class="paper-bg">
                    <th class="width-12vh"><button class="btn-sm btn-info" ng-show="!fileSaved" ng-click="saveToPc(filteredMyStocks, 'myStocks.json')">Save</button></th>
                    <!-- #region Name -->
                    <th>
                        <a href="#" ng-click="sortType = 'Name'; sortReverse = !sortReverse">Name</a>
                        <span ng-show="sortType == 'Name' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'Name' && sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <!-- #endregion -->
                    <!-- #region Industry -->
                    <th>
                        <a href="#" ng-click="sortType = 'Industry'; sortReverse = !sortReverse">Industry</a>
                        <span ng-show="sortType == 'Industry' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'Industry' && sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <!-- #endregion -->
                    <!-- #region Currency -->
                    <th>
                        <a style="float:left" href="#" ng-click="sortType = 'Currency'; sortReverse = !sortReverse">Currency</a>
                        <span ng-show="sortType == 'Currency' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'Currency' && sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <!-- #endregion -->
                    <!-- #region PriceNumber -->
                    <th class="numbers smallInput">
                        <a href="#" ng-click="sortType = 'ValueDouble'; sortReverse = !sortReverse">Price</a>
                        <span ng-show="sortType == 'ValueDouble' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'ValueDouble' && sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <!-- #endregion -->
                    <!-- #region Nr of Shares -->
                    <th class="numbers smallInput">
                        <a href="#" ng-click="sortType = 'AmountOwned'; sortReverse = !sortReverse">Nr of shares</a>
                        <span ng-show="sortType == 'AmountOwned' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'AmountOwned' && sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <!-- #endregion -->
                    <!-- #region Value -->
                    <th class="numbers smallInput">
                        <a href="#" ng-click="sortType = 'ValueOwned'; sortReverse = !sortReverse">Value (SEK)</a>
                        <span ng-show="sortType == 'ValueOwned' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'ValueOwned' && sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <!-- #endregion -->
                    <!-- #region Portfolio Weight -->
                    <th class="numbers smallInput">
                        <a href="#" ng-click="sortType = 'Weight'; sortReverse = !sortReverse">Portfolio Weight</a>
                        <span ng-show="sortType == 'Weight' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'Weight' && sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <!-- #endregion -->
                    <!-- #region Market Cap -->
                    <th class="numbers smallInput">
                        <a href="#" ng-click="sortType = 'MarketCapInt'; sortReverse = !sortReverse">Market Cap (MSEK)</a>
                        <span ng-show="sortType == 'MarketCapInt' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'MarketCapInt' && sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <!-- #endregion -->
                    <!-- #region Dividend (%) -->
                    <th class="numbers smallInput">
                        <a href="#" ng-click="sortType = 'DividendDouble'; sortReverse = !sortReverse">Dividend(%)</a>
                        <span ng-show="sortType == 'DividendDouble' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'DividendDouble' && sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <!-- #endregion -->
                    <!-- #region Volatility (%) -->
                    <th class="numbers smallInput">
                        <a href="#" ng-click="sortType = 'Volatility'; sortReverse = !sortReverse">Volatility (%)</a>
                        <span ng-show="sortType == 'Volatility' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'Volatility' && sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <!-- #endregion -->
                    <!-- #region Beta -->
                    <th class="numbers smallInput">
                        <a href="#" ng-click="sortType = 'BetaDouble'; sortReverse = !sortReverse">Beta</a>
                        <span ng-show="sortType == 'BetaDouble' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'BetaDouble' && sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <!-- #endregion -->
                    <!-- #region P/E -->
                    <th class="numbers smallInput">
                        <a href="#" ng-click="sortType = 'PriceEarningsDouble'; sortReverse = !sortReverse">P/E</a>
                        <span ng-show="sortType == 'PriceEarningsDouble' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'PriceEarningsDouble' && sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <!-- #endregion -->
                    <!-- #region P/S -->
                    <th class="numbers smallInput">
                        <a href="#" ng-click="sortType = 'PriceSalesDouble'; sortReverse = !sortReverse">P/S</a>
                        <span ng-show="sortType == 'PriceSalesDouble' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'PriceSalesDouble' && sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <!-- #endregion -->
                    <!-- #region Rek -->
                    <th class="numbers smallInput">
                        <a href="#" ng-click="sortType = 'ConsensusDouble'; sortReverse = !sortReverse">Rek</a>
                        <span ng-show="sortType == 'ConsensusDouble' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'ConsensusDouble' && sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <!-- #endregion -->
                </tr>
                <tr class="paper-bg">
                    <th class="width-12vh"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button style="width:100%;" class="btn btn-info" ng-click="ToggleGreaterThanValueDouble();"><span ng-show="GreaterThanValueDouble">Above</span><span style="color:orangered;" ng-show="!GreaterThanValueDouble">Below</span></button></td>
                    <td><button style="width:100%;" class="btn btn-info" ng-click="ToggleGreaterThanAmountOwned();"><span ng-show="GreaterThanAmountOwned">Above</span><span style="color:orangered;" ng-show="!GreaterThanAmountOwned">Below</span></button></td>
                    <td><button style="width:100%;" class="btn btn-info" ng-click="ToggleGreaterThanValueOwned();"><span ng-show="GreaterThanValueOwned">Above</span><span style="color:orangered;" ng-show="!GreaterThanValueOwned">Below</span></button></td>
                    <td><button style="width:100%;" class="btn btn-info" ng-click="ToggleGreaterThanWeight();"><span ng-show="GreaterThanWeight">Above</span><span style="color:orangered;" ng-show="!GreaterThanWeight">Below</span></button></td>
                    <td><button style="width:100%;" class="btn btn-info" ng-click="ToggleGreaterThanMarketCap();"><span ng-show="GreaterThanMarketCap">Above</span><span style="color:orangered;" ng-show="!GreaterThanMarketCap">Below</span></button></td>
                    <td><button style="width:100%;" class="btn btn-info" ng-click="ToggleGreaterThanDividend();"><span ng-show="GreaterThanDividend">Above</span><span style="color:orangered;" ng-show="!GreaterThanDividend">Below</span></button></td>
                    <td><button style="width:100%;" class="btn btn-info" ng-click="ToggleGreaterThanVolatility();"><span ng-show="GreaterThanVolatility">Above</span><span style="color:orangered;" ng-show="!GreaterThanVolatility">Below</span></button></td>
                    <td><button style="width:100%;" class="btn btn-info" ng-click="ToggleGreaterThanBeta();"><span ng-show="GreaterThanBeta">Above</span><span style="color:orangered;" ng-show="!GreaterThanBeta">Below</span></button></td>
                    <td><button style="width:100%;" class="btn btn-info" ng-click="ToggleGreaterThanPriceEarnings();"><span ng-show="GreaterThanPriceEarnings">Above</span><span style="color:orangered;" ng-show="!GreaterThanPriceEarnings">Below</span></button></td>
                    <td><button style="width:100%;" class="btn btn-info" ng-click="ToggleGreaterThanPriceSales();"><span ng-show="GreaterThanPriceSales">Above</span><span style="color:orangered;" ng-show="!GreaterThanPriceSales">Below</span></button></td>
                    <td><button style="width:100%;" class="btn btn-info" ng-click="ToggleGreaterThanConsensus();"><span ng-show="GreaterThanConsensus">Above</span><span style="color:orangered;" ng-show="!GreaterThanConsensus">Below</span></button></td>
                </tr>
                <tr class="paper-bg">
                    <th class="width-12vh"></th>
                    <th><input type="text" class="input-sm smallInput" ng-model="mySearch.Name" placeholder="Name" /></th>
                    <th><input type="text" class="input-sm smallInput" ng-model="mySearch.Industry" placeholder="Industry" /></th>
                    <th><input type="text" class="input-sm extraSmallInput" ng-model="mySearch.Currency" placeholder="Currency" /></th>
                    <th><input type="number" class="input-sm smallInput" ng-model="myG.ValueDouble" ng-change="filter_byValueDouble('ValueDouble')" placeholder="Price" /></th>
                    <th class="numbers"><input type="number" class="input-sm smallInput" ng-model="myG.AmountOwned" ng-change="filter_byAmountOwned('AmountOwned')" placeholder="Shares" /></th>
                    <th class="numbers"><input type="number" class="input-sm smallInput" ng-model="myG.ValueOwned" ng-change="filter_byValueOwned('ValueOwned')" placeholder="Value" /></th>
                    <th class="numbers"><input type="number" class="input-sm smallInput" ng-model="myG.Weight" ng-change="filter_byWeight('Weight')" placeholder="Weight" /></th>
                    <th class="numbers"><input type="number" class="input-sm smallInput" ng-model="myG.MarketCapInt" ng-change="filter_byMarketCap('MarketCapInt')" placeholder="M.Cap" /></th>
                    <th class="numbers"><input type="number" class="input-sm extraSmallInput" ng-model="myG.DividendDouble" ng-change="filter_byDividend('DividendDouble')" placeholder="Dividend" /></th>
                    <th class="numbers"><input type="number" class="input-sm extraSmallInput" ng-model="myG.Volatility" ng-change="filter_byVolatility('Volatility')" placeholder="Volatility" /></th>
                    <th class="numbers"><input type="number" class="input-sm extraSmallInput" ng-model="myG.BetaDouble" ng-change="filter_byBeta('BetaDouble')" placeholder="Beta" /></th>
                    <th class="numbers"><input type="number" class="input-sm extraSmallInput" ng-model="myG.PriceEarningsDouble" ng-change="filter_byPriceEarnings('PriceEarningsDouble')" placeholder="P/E" /></th>
                    <th class="numbers"><input type="number" class="input-sm extraSmallInput" ng-model="myG.PriceSalesDouble" ng-change="filter_byPriceSales('PriceSalesDouble')" placeholder="P/S" /></th>
                    <th class="numbers"><input type="number" class="input-sm extraSmallInput" ng-model="myG.ConsensusDouble" ng-change="filter_byConsensus('ConsensusDouble')" placeholder="Rek" /></th>
                </tr>
            </theader>
            <tbody>
                <tr ng-repeat="stock in myStocks | orderBy:sortType:sortReverse | filter:mySearch | filter:myVD | filter:myAO | filter:myVO | filter: myW | filter: myMC | filter: myD | filter: myV | filter: myB | filter: myPE | filter: myPS | filter: myC as filteredMyStocks">
                    <td class="width-12vh"><button class="btn-sm btn-success" ng-click="addOneMoreStock(myStocks.indexOf(stock))">+</button><button class="btn-sm btn-danger" ng-click="removeOneMoreStock(myStocks.indexOf(stock))">-</button></td>
                    <td>{{stock.Name}}</td>
                    <td>{{stock.Industry}}</td>
                    <td>{{stock.Currency}}</td>
                    <td class="numbers">{{stock.ValueDouble | number:2 }}</td>
                    <td class="numbers">{{stock.AmountOwned}}</td>
                    <td class="numbers">{{stock.ValueOwned | number:2 }}</td>
                    <td class="numbers border-right">{{stock.Weight| number:2 }}</td>
                    <td class="numbers">{{stock.MarketCap}}</td>
                    <td class="numbers">{{stock.Dividend | number:2 }}</td>
                    <td class="numbers">{{stock.Volatility | number:2 }}</td>
                    <td class="numbers">{{stock.Beta | number:2 }}</td>
                    <td class="numbers">{{stock.PriceEarnings | number:2 }}</td>
                    <td class="numbers">{{stock.PriceSales | number:2 }}</td>
                    <td class="numbers">{{stock.Consensus}}</td>
                </tr>
                <tr style="font-size:x-large; color:#909942">
                    <td class="width-12vh"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="numbers"></td>
                    <td class="numbers">{{myStocks.TotalAmountOwned| number:0 }}</td>
                    <td class="numbers">{{myStocks.TotalValue | number:2 }}</td>
                    <td class="numbers border-right">{{myStocks.TotalWeight| number:2 }}</td>
                    <td class="numbers"></td>
                    <td class="numbers"></td>
                    <td class="numbers">{{myStocks.TotalVolatility| number:2 }}</td>
                    <td class="numbers"></td>
                    <td class="numbers"></td>
                    <td class="numbers"></td>
                    <td class="numbers"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />

    <div class="alert alert-info">
        <p>
            Displaying {{filteredStocks.length}} of all {{getTotalStocksCount()}} stocks. Add stocks to your portfolio, save it as a json and upload it when you want to continue later.
        </p>
    </div>
    <a id="saveToStocks" ng-show="StocksSaved" class="text-info">Right-click this link and click 'save as...'</a>
    <br />
    <table class="mainStockTable" id="searchTextResults">
        <theader>
            <tr class="paper-bg">
                <th class="width-12vh"><button class="btn-sm btn-info" ng-show="!fileSaved" ng-click="saveToPc($scope.filteredStocks, 'Stocks.json')">Save</button></th>
                <!-- #region Name -->
                <th>
                    <a href="#" ng-click="sortType = 'Name'; sortReverse = !sortReverse">Name</a>
                    <span ng-show="sortType == 'Name' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'Name' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <!-- #endregion -->
                <!-- #region Industry -->
                <th>
                    <a href="#" ng-click="sortType = 'Industry'; sortReverse = !sortReverse">Industry</a>
                    <span ng-show="sortType == 'Industry' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'Industry' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <!-- #endregion -->
                <!-- #region Currency -->
                <th>
                    <a style="float:left" href="#" ng-click="sortType = 'Currency'; sortReverse = !sortReverse">Currency</a>
                    <span ng-show="sortType == 'Currency' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'Currency' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <!-- #endregion -->
                <!-- #region PriceNumber -->
                <th class="numbers smallInput">
                    <a href="#" ng-click="sortType = 'ValueDouble'; sortReverse = !sortReverse">Price</a>
                    <span ng-show="sortType == 'ValueDouble' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'ValueDouble' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <!-- #endregion -->
                <!-- #region Nr of Shares -->
                <th class="numbers smallInput">
                    <a href="#" ng-click="sortType = 'AmountOwned'; sortReverse = !sortReverse">Nr of shares</a>
                    <span ng-show="sortType == 'AmountOwned' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'AmountOwned' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <!-- #endregion -->
                <!-- #region Value -->
                @*<th class="numbers smallInput">
                        <a href="#" ng-click="sortType = 'ValueOwned'; sortReverse = !sortReverse">Value (SEK)</a>
                        <span ng-show="sortType == 'ValueOwned' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'ValueOwned' && sortReverse" class="fa fa-caret-up"></span>
                    </th>*@
                <!-- #endregion -->
                <!-- #region Market Cap -->
                <th class="numbers smallInput">
                    <a href="#" ng-click="sortType = 'MarketCapInt'; sortReverse = !sortReverse">Market Cap (MSEK)</a>
                    <span ng-show="sortType == 'MarketCapInt' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'MarketCapInt' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <!-- #endregion -->
                <!-- #region Dividend (%) -->
                <th class="numbers smallInput">
                    <a href="#" ng-click="sortType = 'DividendDouble'; sortReverse = !sortReverse">Dividend(%)</a>
                    <span ng-show="sortType == 'DividendDouble' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'DividendDouble' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <!-- #endregion -->
                <!-- #region Volatility (%) -->
                <th class="numbers smallInput">
                    <a href="#" ng-click="sortType = 'Volatility'; sortReverse = !sortReverse">Volatility (%)</a>
                    <span ng-show="sortType == 'Volatility' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'Volatility' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <!-- #endregion -->
                <!-- #region Beta -->
                <th class="numbers smallInput">
                    <a href="#" ng-click="sortType = 'BetaDouble'; sortReverse = !sortReverse">Beta</a>
                    <span ng-show="sortType == 'BetaDouble' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'BetaDouble' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <!-- #endregion -->
                <!-- #region P/E -->
                <th class="numbers smallInput">
                    <a href="#" ng-click="sortType = 'PriceEarningsDouble'; sortReverse = !sortReverse">P/E</a>
                    <span ng-show="sortType == 'PriceEarningsDouble' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'PriceEarningsDouble' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <!-- #endregion -->
                <!-- #region P/S -->
                <th class="numbers smallInput">
                    <a href="#" ng-click="sortType = 'PriceSalesDouble'; sortReverse = !sortReverse">P/S</a>
                    <span ng-show="sortType == 'PriceSalesDouble' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'PriceSalesDouble' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <!-- #endregion -->
                <!-- #region Rek -->
                <th class="numbers smallInput">
                    <a href="#" ng-click="sortType = 'ConsensusDouble'; sortReverse = !sortReverse">Rek</a>
                    <span ng-show="sortType == 'ConsensusDouble' && !sortReverse" class="fa fa-caret-down"></span>
                    <span ng-show="sortType == 'ConsensusDouble' && sortReverse" class="fa fa-caret-up"></span>
                </th>
                <!-- #endregion -->
            </tr>
            <tr class="paper-bg">
                <th class="width-12vh"></th>
                <td></td>
                <td></td>
                <td></td>
                <td><button style="width:100%;" class="btn btn-info" ng-click="ToggleGreaterThanVD();"><span ng-show="GreaterThanVD">Above</span><span style="color:orangered;" ng-show="!GreaterThanVD">BelowValue</span></button></td>
                <td><button style="width:100%;" class="btn btn-info" ng-click="ToggleGreaterThanAO();"><span ng-show="GreaterThanAO">Above</span><span style="color:orangered;" ng-show="!GreaterThanAO">Below</span></button></td>
                <td><button style="width:100%;" class="btn btn-info" ng-click="ToggleGreaterThanMC();"><span ng-show="GreaterThanMC">Above</span><span style="color:orangered;" ng-show="!GreaterThanMC">Below</span></button></td>
                <td><button style="width:100%;" class="btn btn-info" ng-click="ToggleGreaterThanD();"><span ng-show="GreaterThanD">Above</span><span style="color:orangered;" ng-show="!GreaterThanD">Below</span></button></td>
                <td><button style="width:100%;" class="btn btn-info" ng-click="ToggleGreaterThanV();"><span ng-show="GreaterThanV">Above</span><span style="color:orangered;" ng-show="!GreaterThanV">Below</span></button></td>
                <td><button style="width:100%;" class="btn btn-info" ng-click="ToggleGreaterThanB();"><span ng-show="GreaterThanB">Above</span><span style="color:orangered;" ng-show="!GreaterThanB">Below</span></button></td>
                <td><button style="width:100%;" class="btn btn-info" ng-click="ToggleGreaterThanPE();"><span ng-show="GreaterThanPE">Above</span><span style="color:orangered;" ng-show="!GreaterThanPE">Below</span></button></td>
                <td><button style="width:100%;" class="btn btn-info" ng-click="ToggleGreaterThanPS();"><span ng-show="GreaterThanPS">Above</span><span style="color:orangered;" ng-show="!GreaterThanPS">Below</span></button></td>
                <td><button style="width:100%;" class="btn btn-info" ng-click="ToggleGreaterThanC();"><span ng-show="GreaterThanC">Above</span><span style="color:orangered;" ng-show="!GreaterThanC">Below</span></button></td>
            </tr>
            @*<tr class="paper-bg">
                    <th class="width-12vh"></th>
                    <th><input type="text" class="smallInput" ng-model="search.Name" placeholder="Name" /></th>
                    <th><input type="text" class="smallInput" ng-model="search.Industry" placeholder="Industry" /></th>
                    <th><input type="text" class="smallInput" ng-model="search.Currency" placeholder="Currency" /></th>
                    <th><input type="number" class="smallInput" ng-model="g.ValueDouble" ng-change="filter_by('ValueDouble')" placeholder="Price" /></th>
                    <th class="numbers"><input type="number" class="smallInput" ng-model="search.AmountOwned" placeholder="Nr of shares" /></th>
                    <th class="numbers"><input type="number" class="smallInput" ng-model="g.MarketCapInt" ng-change="filter_by('MarketCapInt')" placeholder="Market Cap" /></th>
                    <th class="numbers"><input type="number" class="smallInput" ng-model="g.DividendDouble" ng-change="filter_by('DividendDouble')" placeholder="Dividend (%)" /></th>
                    <th class="numbers"><input type="number" class="smallInput" ng-model="g.Volatility" ng-change="filter_by('Volatility')" placeholder="Volatility (%)" /></th>
                    <th class="numbers"><input type="number" class="smallInput" ng-model="g.BetaDouble" ng-change="filter_by('BetaDouble')" placeholder="Beta" /></th>
                    <th class="numbers"><input type="number" class="smallInput" ng-model="g.PriceEarningsDouble" ng-change="filter_by('PriceEarningsDouble')" placeholder="P/E" /></th>
                    <th class="numbers"><input type="number" class="smallInput" ng-model="g.PriceSalesDouble" ng-change="filter_by('PriceSalesDouble')" placeholder="P/S" /></th>
                    <th class="numbers"><input type="number" class="smallInput" ng-model="g.ConsensusDouble" ng-change="filter_by('ConsensusDouble')" placeholder="Rek" /></th>
                </tr>*@
            <tr class="paper-bg">
                <th class="width-12vh"></th>
                <th><input type="text" class="input-sm largeInput" ng-model="search.Name" placeholder="Name" /></th>
                <th><input type="text" class="input-sm smallInput" ng-model="search.Industry" placeholder="Industry" /></th>
                <th><input type="text" class="input-sm smallInput" ng-model="search.Currency" placeholder="Currency" /></th>
                <th><input type="number" class="input-sm smallInput" ng-model="g.ValueDouble" ng-change="filter_byVD('ValueDouble')" placeholder="Price" /></th>
                <th class="numbers"><input type="number" class="input-sm extraSmallInput" ng-model="g.AmountOwned" ng-change="filter_byAO('AmountOwned')" placeholder="Shares" /></th>
                <th class="numbers"><input type="number" class="input-sm smallInput" ng-model="g.MarketCapInt" ng-change="filter_byMC('MarketCapInt')" placeholder="M.Cap" /></th>
                <th class="numbers"><input type="number" class="input-sm smallInput" ng-model="g.DividendDouble" ng-change="filter_byD('DividendDouble')" placeholder="Dividend" /></th>
                <th class="numbers"><input type="number" class="input-sm smallInput" ng-model="g.Volatility" ng-change="filter_byV('Volatility')" placeholder="Volatility" /></th>
                <th class="numbers"><input type="number" class="input-sm smallInput" ng-model="g.BetaDouble" ng-change="filter_byB('BetaDouble')" placeholder="Beta" /></th>
                <th class="numbers"><input type="number" class="input-sm smallInput" ng-model="g.PriceEarningsDouble" ng-change="filter_byPE('PriceEarningsDouble')" placeholder="P/E" /></th>
                <th class="numbers"><input type="number" class="input-sm smallInput" ng-model="g.PriceSalesDouble" ng-change="filter_byPS('PriceSalesDouble')" placeholder="P/S" /></th>
                <th class="numbers"><input type="number" class="input-sm smallInput" ng-model="g.ConsensusDouble" ng-change="filter_byC('ConsensusDouble')" placeholder="Rek" /></th>
            </tr>
        </theader>
        <tbody>
            <tr ng-repeat="stock in Stocks | orderBy:sortType:sortReverse | filter:search | filter:VD | filter:AO | filter:VO | filter: W | filter: MC | filter: D | filter: V | filter: B | filter: PE | filter: PS | filter: C as filteredStocks">
                <td class="width-12vh"><button class="btn-sm btn-success" ng-click="addStock(Stocks.indexOf(stock))">+</button><button class="btn-sm btn-danger" ng-show="stock.AmountOwned > 0" ng-click="removeStock(stock.Name)">-</button></td>
                <td>{{stock.Name}}</td>
                <td>{{stock.Industry}}</td>
                <td>{{stock.Currency}}</td>
                <td class="numbers">{{stock.ValueDouble | number:2 }}</td>
                <td class="numbers">{{stock.AmountOwned}}</td>
                <td class="numbers">{{stock.MarketCap}}</td>
                <td class="numbers">{{stock.Dividend | number:2 }}</td>
                <td class="numbers">{{stock.Volatility | number:2 }}</td>
                <td class="numbers">{{stock.Beta | number:2 }}</td>
                <td class="numbers">{{stock.PriceEarnings | number:2 }}</td>
                <td class="numbers">{{stock.PriceSales | number:2 }}</td>
                <td class="numbers">{{stock.Consensus}}</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    //var ctx = document.getElementById("myStocksPie");
    //var myChart = new Chart(ctx, {
    //    type: 'pie',
    //    data: {
    //        labels: myArray,
    //        datasets: [{
    //            label: '# of Votes',
    //            data: [12, 19, 3, 5, 2, 3],
    //            backgroundColor: [
    //                'rgba(255, 99, 132, 0.2)',
    //                'rgba(54, 162, 235, 0.2)',
    //                'rgba(255, 206, 86, 0.2)',
    //                'rgba(75, 192, 192, 0.2)',
    //                'rgba(153, 102, 255, 0.2)',
    //                'rgba(255, 159, 64, 0.2)'
    //            ],
    //            borderColor: [
    //                'rgba(255,99,132,1)',
    //                'rgba(54, 162, 235, 1)',
    //                'rgba(255, 206, 86, 1)',
    //                'rgba(75, 192, 192, 1)',
    //                'rgba(153, 102, 255, 1)',
    //                'rgba(255, 159, 64, 1)'
    //            ],
    //            borderWidth: 1
    //        }]
    //    },
    //    options: {
    //        scales: {
    //            yAxes: [{
    //                ticks: {
    //                    beginAtZero: true
    //                }
    //            }]
    //        }
    //    }
    //});
</script>